# Generate image from pdf file with image magick:
# convert -density 150 -quality 80 -flatten corleo-cv.pdf corleo-cv.png
#
# Ignore
*

# Allow
!.gitignore
!corleo-cv.cls
!corleo-cv.tex
!corleo-cv.pdf
!corleo-cv.png
!README.md
!LICENSE
